body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

nav{
    display: grid;
    align-items: center;
    background-color: #333;
    border: 5px solid black;
}

.navBar a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
}

.navBar h3 {
    padding: .1rem;
}

.navBar a:hover {
    background-color: whitesmoke;
    color: black;
}

blockquote {
    font-size: large;
    font-family: cursive;
}

@media (max-device-width: 420px){
    body{
        display: inline;
        text-align: center;
    }
    h1{
        padding: 10px;
        margin: 10px;
    }
}